@use '../abstracts/' as *;

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-size: fs(400);
  background-color: clr(base, 800);
  color: clr(neutral, 100);
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100dvh;

  & > *:first-child {
    grid-row: 1;
  }

  & > *:nth-child(2) {
    grid-row: 2;
  }

  & > *:last-child {
    grid-row: 3;
  }
}

main {
  padding-block-start: var(--header-height);
}
