$colors: (
  neutral: (
    100: #f9f7f2,
    900: #0d151a,
  ),
  base: (
    200: #00f9ff,
    400: #0b4650,
    800: #00272b,
  ),
  primary: (
    400: #e0ff4f,
  ),
  secondary: (
    700: #ffe200,
  ),
  accent: (
    400: #00f6ac,
  ),
  warning: (
    400: #f433ab,
  ),
  error: (
    400: #ed254e,
  )
)
