@use '../abstracts/' as *;

.container {
  // --padding-inline: #{$container-padding-inline};
  --max-width: #{$container-max-width};
  @include fluid-clamp($container-padding-inline, true, 'padding-inline');
  display: grid;
  grid-template-columns:
    minmax(var(--padding-inline), 1fr)
    min(calc(100% - (var(--padding-inline) * 2)), var(--max-width))
    minmax(var(--padding-inline), 1fr);
  justify-content: center;

  & > * {
    grid-column: 2;
  }
}

.container[data-container='small'] {
  --max-width: #{$container-max-width-small};
}
.container[data-container='large'] {
  --max-width: #{$container-max-width-large};
}
.container[data-container='full-bleed'] {
  --max-width: #{$container-max-width-full-bleed};
}
