@use '../abstracts/' as *;

.section {
  padding-block: var(--padding-block);
  @include fluid-clamp($padding-section);

  &__header {
    display: flex;
    gap: size(24);
    justify-content: space-between;
    align-items: center;
  }
}
