@use 'sass:color';
@use '../abstracts/' as *;

.btn {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-size: var(--btn-fs, #{fs(400)});
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--btn-bg, white);
  color: var(--btn-fg, black);
  padding-block: clamp(0.5em, 0.5em + 1vw, 1em);
  padding-inline: clamp(0.75em, 0.75em + 1vw, 1.75em);
  cursor: pointer;
  position: relative;
  isolation: isolate;

  &:not(.filter-menu__btn) {
    justify-content: center;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--btn-hover-bg, black);
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--btn-hover-fg, white);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.btn[data-button='primary'],
.btn[data-button='secondary'] {
  font-weight: $fw-700;
}

.btn[data-button='primary'] {
  --btn-bg: #{clr(primary, 400)};
  --btn-fg: #{clr(base, 800)};
  --btn-hover-bg: #{clr(primary, 700)};
  --btn-hover-fg: #{clr(base, 800)};
  padding-inline: 0;
  padding-block: 0;
  display: block;
  color: var(--btn-fg);
  overflow: hidden;

  & > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.25em;
    padding-inline: 0.75em;

    inline-size: 100%;
    block-size: 100%;
    transition: transform 450ms ease-in-out;

    &:first-child {
      transition:
        opacity 300ms ease-in-out,
        transform 450ms ease-in-out;
    }
    &:last-child {
      opacity: 0;
      transition:
        opacity 400ms ease-in-out,
        transform 450ms ease-in-out 100ms;
    }
  }

  &:hover > * {
    transform: translateY(-100%);
    &:first-child {
      opacity: 0;
      transition:
        opacity 300ms ease-in-out,
        transform 450ms ease-in-out 100ms;
    }
    &:last-child {
      opacity: 1;
      transition:
        opacity 300ms ease-in-out,
        transform 450ms ease-in-out;
    }
  }
}

.btn[data-button='primary']:disabled {
  --btn-bg: #{clr(base, 400)};
  --btn-fg: #{clr(neutral, 200)};
  --btn-hover-bg: #{clr(base, 400)};
  --btn-hover-fg: #{clr(neutral, 200)};
  filter: grayscale(10%);
  &:hover > * {
    transform: translateY(0);
    &:first-child {
      opacity: 1;
      transition:
        opacity 300ms ease-in-out,
        transform 450ms ease-in-out 100ms;
    }
    &:last-child {
      opacity: 0;
      transition:
        opacity 300ms ease-in-out,
        transform 450ms ease-in-out;
    }
  }
}

.btn[data-button='secondary'] {
  $color: clr(primary, 400);
  --btn-bg: transparent;
  --btn-fg: #{$color};
  --btn-hover-bg: #{rgba($color, 0.1)};
  --btn-hover-fg: #{$color};
  border-radius: size(4);
  box-shadow: 0 0 0 1px var(--btn-fg);

  &.active {
    color: clr(base, 800);

    &::after {
      opacity: 1;
      background-color: $color;
    }
  }
}

.btn[data-button='page-nav'] {
  --btn-bg: transparent;
  --btn-fg: #{clr(primary, 400)};
  --btn-hover-fg: #{clr(primary, 400)};
  --btn-hover-bg: transparent;
  padding: clamp(0.125em, 0.125em + 0.25vw, 0.5em);
  border-radius: size(4);
  border-radius: 50%;
  inline-size: fit-content;
  aspect-ratio: 1;

  &:first-of-type > * {
    transform: translateX(-2px);
  }
  &:last-of-type > * {
    transform: translateX(2px);
  }

  &::after {
    box-shadow: 0px 0px 0px 1px clr(primary, 400);
  }
}

.btn[data-button='outline'] {
  --btn-bg: transparent;
  --btn-fg: currentColor;
  --btn-hover-fg: #{clr(primary, 400)};
  --btn-hover-bg: transparent;
  padding-block: 0.25em;
  padding-inline-end: 0;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  will-change: color;
  transition: color 300ms ease-in-out;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0 auto;
    width: 100%;
    height: 0.125rem;
    background-color: var(--btn-hover-fg);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition:
      opacity 300ms ease-in-out,
      transform 300ms ease;
  }

  &:focus,
  &:hover {
    color: clr(primary, 400);

    &::after {
      transform: scaleX(1);
      transform-origin: left;
      opacity: 100%;
    }
  }

  & > * + * {
    margin-left: 1.5rem;
  }

  & > *:last-child {
    transform: translateX(-0.75rem);
    transition: transform 300ms ease-in-out;
  }

  &:focus > *:last-child,
  &:hover > *:last-child {
    transform: translateX(0);
  }

  &:disabled:focus > *:last-child,
  &:disabled:hover > *:last-child {
    transform: translateX(-0.75rem);
  }
}

.btn[data-button='badge'] {
  --btn-bg: transparent;
  --btn-fg: #{clr(primary, 400)};
  --btn-hover-fg: #{clr(base, 800)};
  --btn-hover-bg: #{clr(primary, 400)};
  --btn-fs: #{fs(300)};
  justify-content: center;
  padding-block: var(--badge-padding-block, 0.35em);
  padding-inline: var(--badge-padding-inline, 1.05em);
  text-transform: uppercase;
  border: 1px solid clr(primary, 400);
  position: relative;

  &::after {
    transition: opacity 450ms ease-in-out;
  }
}

button[data-button='nav-link'] {
  background: none;
  border: none;
  cursor: pointer;
}
.btn--page {
  padding-block: clamp(0.25em, 0.25em + 0.5vw, 2em);
  padding-inline: clamp(0.15em, 0.25em + 0.5vw, 2em);
}

.filter-menu__btn {
  gap: $grid-gap;
  inline-size: 100%;
  min-height: 50px;
  border-radius: size(4);
  font-size: fs(400) !important;
  font-weight: $fw-700;
  text-transform: uppercase;
  justify-content: space-between;
}

.accordion__btn {
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2px solid clr(primary, 400);
  }
}

.cart__item__remove-btn {
  position: absolute;
  right: 0;
  transform: translate(-1.25em, 1.25em);
  aspect-ratio: 1;
  padding-block: 0;
  padding-inline: 0;
  font-size: 12px;

  & > * {
    padding-block: -1rem !important;
    padding-inline: -1rem !important;
  }
}
