@use 'sass:color';
@use '../abstracts/' as *;


.btn {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-size: fs(400);
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--btn-bg, white);
  color: var(--btn-fg, black);
  padding-block: 1em;
  padding-inline: 1.75em;
  cursor: pointer;
  position: relative;
  isolation: isolate;

  &:not(.filter-menu__btn) {
    justify-content: center;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--btn-hover-bg, black);
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--btn-hover-fg, white);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.btn[data-button='primary'],
.btn[data-button='secondary'] {
  font-weight: $fw-700;
}


.btn[data-button='primary'] {
  --btn-bg: #{clr(primary, 400)};
  --btn-fg: #{clr(base, 800)};
  --btn-hover-bg: #{clr(primary, 700)};
  --btn-hover-fg: #{clr(base, 800)};
  padding-inline: 0;
  padding-block: 0;
  display: block; 
  color: clr(base, 800);
  font-size: fs(500);  
  overflow: hidden;

  & > * {
   
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $grid-gap;
    padding-block: 0.25em;
    padding-inline: 0.75em;
   

    inline-size: 100%;
    block-size: 100%;
    transition: transform 450ms ease-in-out;

    &:first-child {
      transition: opacity 300ms ease-in-out, transform 450ms ease-in-out;
    }
    &:last-child {
      opacity: 0;
      transition: opacity 400ms ease-in-out, transform 450ms ease-in-out 100ms;
    }
  }

  &:hover > * {
    transform: translateY(-100%);
    &:first-child {
      opacity: 0;
      transition: opacity 300ms ease-in-out, transform 450ms ease-in-out 100ms;
    }
    &:last-child {
      opacity: 1;
      transition: opacity 300ms ease-in-out, transform 450ms ease-in-out;
    }
  }
}

.btn[data-button='secondary'] {
  $color: clr(primary, 400);
  --btn-bg: transparent;
  --btn-fg: #{$color};
  --btn-hover-bg: #{rgba($color, 0.1)};
  --btn-hover-fg: #{$color};
  border: 1px solid;
  border-radius: size(4);

  &.active {
    color: clr(base, 800);

    &::after {
      opacity: 1;
      background-color: $color;
    }
  }
}

.btn[data-button='page-nav'] {
  --btn-bg: transparent;
  --btn-fg: #{clr(primary, 400)};
  --btn-hover-fg:#{clr(primary, 400)};
  --btn-hover-bg: transparent;
  padding: 0;
  border-radius: size(4);
  border-radius: 50%;
  block-size: 3rem;
  inline-size: 3rem;
  aspect-ratio: 1;

  &::after {
    box-shadow: 0px 0px 0px 1px clr(primary, 400);
  }
}

.filter-menu__btn {
  gap: $grid-gap;
  inline-size: 100%; 
  min-height: 50px;
  border-radius: size(4);
  font-size: fs(400) !important;
  font-weight: $fw-700;
  text-transform: uppercase;
  justify-content: space-between;
}

.accordion__btn {
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid clr(primary, 400);
    }
  }