@use '../abstracts/' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  border: none;
  background: clr(primary, 400);
  color: clr(neutral, 100);

  font-size: 1rem;
  cursor: pointer;

  &[data-button='primary'] {
    position: relative;
    isolation: isolate;
    padding: 0.5em 1em;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: clr(primary, 500);
      border-radius: inherit;
      z-index: -1;
      opacity: 0;
      transition: opacity 400ms ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &--card {
    gap: calc($grid-gap / 2);
    border-radius: calc($card-padding - $card-radius);
    text-transform: uppercase;
  }

  &--navigation {
    background-color: transparent;
    padding: 0;
    block-size: 3rem;
    inline-size: 3rem;
    aspect-ratio: 1;
  }

  &--page {
    padding-inline: 1em;
    background-color: transparent;
    border: 1px solid rgba(clr(primary, 400), 0.5);
    border-radius: size(4);
    position: relative;
    isolation: isolate;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(clr(primary, 400), 0.2);
      z-index: -1;
      opacity: 0;
      transition: opacity 450ms ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }

    &.active {
      border-color: rgba(clr(primary, 400), 0.5);

      &::after {
        opacity: 1;
        background-color: clr(primary, 400);
      }
    }
  }
}
