@use '../abstracts/' as *;

.carousel {
  padding-block-start: $grid-gap;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 40dvh;
  gap: 2rem;

  &__btn {
    grid-row: 1;
    align-self: center;
    z-index: 1;

    &:first-of-type {
      grid-column: 1;
    }

    &:last-of-type {
      grid-column: 3;
    }
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 1;
    padding-block: $grid-gap;
    padding-inline: calc(var(--button-width) / 2 - $grid-gap - 4px);
    overflow: hidden;
  }

  &__slides {
    inline-size: 25%;
    block-size: 100%;
    margin-inline: auto;
    position: relative;

    @include mq(47em, max-width) {
      inline-size: 100%;
    }
    @include mq(47em, between, 75em) {
      inline-size: 50%;
    }
    @include mq(75em, between, 100em) {
      inline-size: 33.33%;
    }
  }

  &__slide {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
  }
}

.carousel[data-type='hero'] {
  grid-column: 1 / -1;
  padding-block: 0;
  grid-template-rows: 65dvh;

  @include mq(large) {
    grid-template-rows: 70dvh;
  }

  .carousel__content {
    padding-block: 0;
    padding-inline: 0;
  }
  .carousel__slides {
    inline-size: 100%;
  }

  .carousel__indicators {
    grid-column: 2 / -2;
    display: flex;
    justify-content: center;
    gap: $grid-gap;
  }

  .carousel__indicator {
    --btn-hover-bg: #{clr(accent, 400)};
    inline-size: 1em;
    padding-block: 0;
    padding-inline: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .carousel__indicator.is-selected {
    --btn-bg: #{clr(primary, 400)};
    --btn-hover-bg: #{clr(primary, 400)};
  }
}
