@use '../abstracts/' as *;

.footer {
  padding-block: 1.5rem;
  .container {
    justify-items: center;
    gap: 0.5rem;
  }
  a {
    color: currentColor;
    text-decoration: none;
    will-change: color;

    &:hover {
      color: clr(accent, 400);
    }
  }
}
