@use '../abstracts/' as *;

.order__item {
  padding-inline: 1.25em;
  padding-block: 1.25em;
  border: 1px solid clr(primary, 400);
  border-radius: size(4);

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  position: relative;

  &__thumbnail {
    grid-row: 1;
    inline-size: 100%;
    min-block-size: 100%;
    aspect-ratio: 1;
    img {
      border-radius: size(4);
      inline-size: 100%;
      block-size: 100%;
    }
  }

  &__details {
    display: grid;
    gap: 0.25rem;
  }

  &__name {
    grid-column: 1 / span 2;
    a {
      text-decoration: none;
      color: currentColor;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__platform {
    grid-column: 1;
    grid-row: 2;
  }

  &__price {
    grid-row: 3;
  }

  &__price-value {
    justify-self: end;
  }

  &__quantity {
    grid-row: 4;
  }
  &__quantity-value {
    justify-self: end;
  }

  &__total-price {
    align-self: end;
    display: flex;
    gap: 0 0.5em;
    align-items: center;
    justify-content: space-between;
  }

  @include mq(small) {
    grid-template-columns: 12rem 1fr;
    gap: 0 1em;
    &__thumbnail {
      grid-row: 1 / span 2;
      inline-size: 12rem;
    }

    &__name {
      grid-row: 1;
    }

    &__total-price {
      grid-column: 2;
      grid-row: 2;
      //   justify-content: end;
    }
  }
}
