@use '../abstracts/' as *;

.pagination {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 0.5rem;

  @include mq(small) {
    gap: 1rem;
  }

  &__nav:last-of-type {
    justify-self: end;
  }
}
