@use '../abstracts/' as *;

.product-item {
  --_container-padding: #{$card-padding};
  --_container-radius: #{$card-radius};
  display: grid;
  grid-template-rows: auto 1fr auto;
  block-size: 100%;
  border-radius: var(--_container-radius);
  // border: 1px solid clr(primary, 400);
  //

  z-index: 10;
  position: relative;
  isolation: isolate;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0px;
    z-index: -1;
    border-radius: inherit;
  }

  &::before {
    box-shadow: 0px 0px 0px 1px rgba(clr(primary, 400), 0.3);
    // box-shadow: 0px 0px 0px 1px  okchl(30% 0.08 209);
  }

  &::after {
    box-shadow: 0px 0px 0px 1px clr(primary, 400);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    // border-radius: 50%;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }
  a:not(.btn) {
    color: inherit;
  }
}

.product-item__img,
.product-item__img > img {
  width: 100%;
  max-width: 100%;
  border-radius: var(--_container-radius) var(--_container-radius) 0 0;
}

.product-item__content {
  display: grid;
  gap: calc($grid-gap / 2);
  padding-inline: var(--_container-padding);
  padding-block: $grid-gap;
}

.product-item__info {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: calc($grid-gap / 2) 0;
  align-items: center;
}

.product-item__price-current {
  font-size: fs(600);
  font-weight: $fw-700;
}

.product-item__rating {
  dd {
    display: flex;
    align-items: center;
    gap: 0.5em;
    line-height: 1;
  }
}

.product-item__genre-list {
  grid-column: 1 / -1;
  display: flex;
  gap: 0.45rem 0.5rem;
  flex-wrap: wrap;
  align-items: center;

  font-size: fs(300);
  text-transform: uppercase;

  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-align: center;
    padding-block: 0.35em;
    padding-inline: 1.05em;
    color: clr(primary, 400);
    border: 1px solid clr(primary, 400);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: clr(primary, 400);
      z-index: -1;
      isolation: isolate;
      opacity: 0;
      transition: opacity 450ms ease-in-out;
    }

    &:hover {
      color: clr(neutral, 900);
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.product-item .btn {
  font-size: fs(500);
  border-radius: 0 0 var(--_container-radius) var(--_container-radius);
}
