@use '../abstracts/' as *;

.scroller {
  display: grid;
  gap: $grid-gap;
  grid-auto-flow: column;
  grid-auto-columns: 15rem;

  overflow-x: scroll;
  overscroll-behavior-inline: contain;

  scrollbar-width: thin;
  scrollbar-color: clr(primary, 400) transparent;
  padding-inline: 1.5rem !important;
  padding-block: 3rem !important;
}

::-webkit-scrollbar-track {
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom right,
    clr(base, 800) 0%,
    clr(base, 400) 35%,
    clr(base, 200) 100%
  );
  border-radius: 50vw;
}

@media (min-width: 50em) {
  .scroller {
    grid-auto-columns: 35%;
  }
}

.scroller__item {
  --_container-padding: #{$card-padding};
  block-size: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content 1fr;

  position: relative;
  isolation: isolate;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0px;
    z-index: -1;
    border-radius: inherit;
  }

  &::before {
    box-shadow: 0px 0px 0px 1px rgba(clr(primary, 400), 0.3);
  }

  &::after {
    box-shadow: 0px 0px 0px 1px clr(primary, 400);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.scroller__item__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
}

.scroller__item > header {
  align-self: center;
  padding-block: var(--_container-padding);
  padding-inline: calc(var(--_container-padding) * 1.25);
}

.scroller__item > h2 {
  font-weight: $fw-700;
  text-transform: capitalize;
}
.scroller__item h2 + p {
  text-transform: capitalize;
  color: rgba(clr(neutral, 100), 0.7);
}
.scroller__item a {
  font-size: fs(500);
  display: inline-block;
  color: inherit;
  text-decoration: none;
  position: relative;
  isolation: isolate;
}
.scroller__item a::before {
  content: '';
  position: absolute;
  inset: auto 0 -0.25em 0;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.scroller__item a:focus-visible {
  outline: none;
}

.scroller__item a:hover::before,
.scroller__item a:focus::before {
  transform: scaleX(1);
}

.scroll-snapping {
  scroll-snap-type: inline mandatory;
}

.scroll-snapping > * {
  scroll-margin-inline: calc($grid-gap * 10);
  scroll-snap-align: start;
}
