@use '../abstracts/' as *;

.catalog-grid {
  --_catalog-gap: #{calc($grid-gap * 3)};
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 15rem 1fr;
  /* 
  Defines row sizes for consistent layout structure:
  - auto: header adjusts naturally
  - min-content: filtering/search area takes only needed space
  - 1fr: product list fills remaining space, preventing layout shift
*/
  // grid-template-rows: auto min-content 1fr;
  gap: var(--_catalog-gap) 0;

  & aside,
  & .search-menu,
  & .item-area {
    grid-column: 1 / -1;
  }

  .pagination {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @include mq(medium) {
    gap: var(--_catalog-gap);

    aside {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    .search-menu,
    .item-area {
      grid-column: 2;
    }

    .search-menu {
      grid-row: 1;
    }

    .item-area {
      grid-row: 2;
    }

    .pagination {
      grid-row: 2;
      justify-self: end;
      align-self: end;
    }
  }
}

.catalog-grid--no-filters {
  --_catalog-gap: #{calc($grid-gap * 3)};
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: unset;
  gap: var(--_catalog-gap) 0;

  .pagination {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @include mq(medium) {
    .search-menu {
      justify-self: center;
      min-inline-size: calc($card-base-width * 2);
    }

    .pagination {
      justify-self: end;
      align-self: end;
    }
  }
}

.item-area {
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: var(--_catalog-gap) 0;
  &__list {
    grid-auto-rows: minmax(0, 30rem);
    @include mq(large) {
      li:only-child {
        max-inline-size: calc($card-base-width * 1.5);
      }
    }
  }
  &__list--empty {
    text-align: center;
    padding-block: var(--_catalog-gap);
  }
}
