@use '../abstracts/' as *;

.catalog-grid {
  --_catalog-gap: #{calc($grid-gap * 3)};
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 15rem 1fr;
  /* 
  Defines row sizes for consistent layout structure:
  - auto: header adjusts naturally
  - min-content: filtering/search area takes only needed space
  - 1fr: product list fills remaining space, preventing layout shift
*/
  grid-template-rows: auto min-content 1fr;
  gap: var(--_catalog-gap) 0;

  & > header,
  & aside,
  & .breadcrumb,
  & .search-menu,
  & .item-area,
  & .pagination {
    grid-column: 1 / -1;
  }

  @media (min-width: 45em) {
    gap: var(--_catalog-gap);
    & > header {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    aside {
      grid-column: 1;
      grid-row: 2 / 4;
    }

    .search-menu,
    .item-area {
      grid-column: 2;
    }

    .breadcrumb {
      padding-block-start: 0;
      grid-row: 1;
    }
    .search-menu {
      grid-row: 2;
    }

    .item-area {
      grid-row: 3;
    }

    .pagination {
      grid-row: 3;
      justify-self: end;
      align-self: end;
    }
  }
}

.item-area {
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: var(--_catalog-gap) 0;
  &__list {
    @include mq(large) {
      li:only-child {
        max-width: calc($card-base-width * 1.5);
      }
    }
  }
}
